/**
 * Styles for the create-wordpress-plugin/example-block block that get applied on both on the front of your site
 * and in the editor.
 */

.wp-block-create-wordpress-plugin-example-block {
  background-color: #21759b;
  color: #fff;
  padding: 2px;
}
