includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	# Level 9 is the highest level
	level: max

	paths:
		- blocks/
		- entries/
		- src/
		- plugin.php

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#        - '#Path /home/runner/work/create-wordpress-plugin/create-wordpress-plugin/entries does not exist#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
