includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	# Level 9 is the highest level
	level: max

	paths:
		- blocks/
		- %env:PROJECT_ROOT%/entries/
		- src/
		- plugin.php

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#        - '#.*Path does not exist: %env:PROJECT_ROOT%/entries#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
