includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	# Level 9 is the highest level
	level: max
	rootDir: %rootDir%

	paths:
		- blocks/
		- %rootDir%/entries/
		- src/
		- plugin.php

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#        - '#.*Path does not exist: %rootDir%/entries#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
