<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertDeprecationsToExceptions="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true">
  <testsuites>
    <testsuite name="Feature">
      <directory suffix=".php">tests/Feature</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix=".php">tests/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
